#root {
    background: #DDE3EC;
    min-height: 100vh;
}
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
  }
  
  .navbar {
	background-color: #4682b4;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 20px;
  }
  
  .navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
  }
  
  .navbar li {
	margin-right: 20px;
  }
  
  .navbar li:last-child {
	margin-right: 0;
  }
  
  .nav-link {
	text-decoration: none;
	color: #f0f8ff;
	font-family: 'Courier Prime', monospace;
	font-size: 20px;
	padding: 10px 15px;
	border-radius: 6px;
	transition: background-color 0.3s;
  }
  
  .nav-link:hover {
	background-color: #306080;
  }
  .main {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .address {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .card {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .disconnect-btn {
    background-color: #ff4d4d;
    color: white;
  }
  
  .connect-buttons {
    margin-top: 20px;
  }
  
  .connect-btn {
    background-color: #4caf50;
    color: white;
    margin-right: 10px;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }